<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ templatte_render('header_block', { title: 'Templatte' }) }}
        <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
